@import '~styles/variables';

.root {
  display: flex;
  background: $dark-blue;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 45px;
}

.column {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  white-space: nowrap;
  flex: 0 1 25%;
  padding: 0 15px;

  & :global {
    & .Collapsible__trigger {
      color: $text-gray;
      font-size: 16px;

      &:first-child {
        margin-top: 45px;
      }
    }
  }

  @media (max-width: 800px) {
    flex-basis: 30%;
  }
}

.sub-column {
  display: flex;
  flex-direction: column;

  & :global {
    & .Collapsible__trigger {
      color: $text-dark-gray;
      font-size: 14px;

      &.is-open {
        font-size: 14px;
      }

      &:first-child {
        margin-top: 45px;
      }
    }
  }
}

.title {
  color: $text-gray;
  font-size: 16px;
}

.row {
  font-size: 12px;
  color: $white;
  line-height: 28px;

  &:first-child {
    margin-top: 20px;
  }
}