@import '~styles/variables';

.root {
  height: 60px;
  width: 60px;
  background: $white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width .5s ease, padding-left .6s ease;

  &:global(.__active) {
    width: 75%;
    padding-left: 30px;
  }

  &:global(.__search-full-screen) {
    transition: none;
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    border-radius: 0;
    border-bottom: 1px solid $text-gray;
  }

  &:global(.__search-full-screen) .dropdown {
    display: flex;
  }
}

.input {
  width: 0;
  flex: 1 1;
  border: none;
  font-size: 16px;

  &::placeholder {
    color: $dark-blue;
  }

  &:focus {
    outline: none;
  }
}

.search-icon {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: none;
  flex-direction: column;
  align-items: center;
  background: $white;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 80px);
}

.search-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font: 14px/18px;
    color: $text-gray;
  }

  .item {
    font: 18px/30px normal italic ;
    color: $blue;
  }
}

.close-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $white;
  align-self: flex-end;
  margin: auto 20px 20px auto;
  border: 1px solid $text-dark-gray;
  position: relative;

 &::before {
   content: "";
   position: absolute;
   top: 50%;
   left: calc(50% - 12.5px);
   width: 25px;
   border-bottom: 2px solid $blue;
   transform: rotate(45deg)
 }

 &::after {
   content: "";
   position: absolute;
   top: 50%;
   left: calc(50% - 12.5px);
   width: 25px;
   border-bottom: 2px solid $blue;
   transform: rotate(-45deg)
 }
}