@import '~styles/variables';

.root {
  width: 191px;
  height: 63px;
  background: rgba(0, 0, 0, 0.16);
  border-radius: 29.5px;
  display: flex;
  align-items: center;
}

.value {
  flex: 1;
  font-size: 14px;
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  border-radius: 29.5px;
  background: rgba(0, 0, 0, 0.16);
}
 .svg {
   height: 17px;
   width: 19px;
   fill: $white;
   stroke:$white;
 }