@import '~styles/variables';

@mixin media-mobile {
  @media (max-width: $media-mobile-width) {
    @content;
  }
}

@mixin media-mobile-medium {
  @media (max-width: $media-mobile-medium-width) {
    @content;
  }
}

@mixin media-mobile-large {
  @media (max-width: $media-mobile-large-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $media-tablet-width) {
    @content;
  }
}

@mixin media-tablet-mid {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin media-tablet-album {
  @media (max-width: $media-tablet-width-albom) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: $media-laptop-width) {
    @content;
  }
}

@mixin media-laptop-small {
  @media (max-width: $media-laptop-small-width) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: $media-tablet-width) and (max-width: $max-desktop) {
    @content;
  }
}

@mixin media-from-tablet-up {
  @media (min-width: $media-from-tablet-up) {
    @content;
  }
}

@mixin media-max-desktop {
  @media (max-width: $max-desktop) {
    @content;
  }
}

@mixin media-between($min-width, $max-width) {
  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin media-safari {
  @media not all and (min-resolution: 0.001dpcm) {
    @content;
  }
}

@mixin media-safari-tablet {
  @media not all and (min-resolution: 0.001dpcm) and (max-width: $media-tablet-width) {
    @content;
  }
}

@mixin media-form {
  @media (min-width: 1024px) and (max-height: 740px) {
    @content;
  }
}
