/* colors */
$white: #FFFFFF;
$blue: #0180C9;
$gray: rgba(233, 236, 239, 0.5);
$text-gray: #9AA8B6;
$text-dark-gray: #5B6D81;
$dark-blue: #1E2E3F;
$green: #3BA936;
$gray-bg: rgba(255, 255, 255, 0.16);

/*media*/
$desktop-width: 1920;
$laptop-width: 1440;
$tablet-width: 1024;
$mobile-width: 480;

$media-tablet-width-albom: 1024px;
$media-mobile-medium-width: 360px;
$media-mobile-width: 480px;
$media-mobile-large-width: 540px;
$media-tablet-width: 768px;
$media-laptop-small-width: 1240px;
$media-laptop-width: 1440px;
$max-desktop: 1920px;