@import '~styles/variables';

.main {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  margin-top: 120px;

  &:hover .main-img {
    z-index: -3;
    opacity: 0;
  }
}

.main-img {
  width: 100%;
  height: calc(100vh - 120px);
  object-fit: cover;
  position: absolute;
  top: 120px;
  left: 0;
  opacity: 1;
  z-index: -1;
  transition: opacity 0.5s;
}