@import '~styles/variables';

.root {
  width: 100%;
  height: 50px;
  position: fixed;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  // z-index: 100;
}

.logo {
  fill: $blue;
  margin-right: 12px;
}

.text {
  font-size: 18px;
  color: $text-gray;
}