@import '~styles/variables';

.root {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.content {
  width: 100%;
  background: $white;
  display: flex;
  flex-direction: column;
  box-shadow: inset -1px -1px 0 lightgrey;
}

.additionally {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  background: $gray;
  font-size: 12px;
  box-shadow: inset 0 -1px 0 lightgrey;

  .item {
    width: 177.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 0 0 lightgray;
  }

 .value {
    padding: 0 10px;
  }

 .quantity {
    padding: 2px 6px;
    color: $white;
    border-radius: 50%;
    background: $blue;
  }
}

.compare {
  width: 186px;
}

.menu {
  height: 80px;
  display: flex;
}

.nav-box {
  display: flex;
  align-content: center;
  flex: 1 1;
  justify-content: space-between;
}

.logo {
  width: 54px;
  height: 31.26px;
  margin: 0 48px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav {
  width: max-content;
  font-size: 16px;
  margin-right: 2px;
  padding: 15px;
  border-radius: 25px;
  transition: .3s ease;
  white-space: nowrap;
  &:hover {
    background: $gray;
    color:$blue;
  }
}

.settings-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.settings-item {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: $gray;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: $blue;
  }

  &:hover .svg{
    fill: $white;
  }

  &:last-child {
    margin-right: 29.75px;
  }

  &:not(:last-child) {
    margin-right: 19.75px;
  }

  .svg {
    fill: $dark-blue;
  }
}
