@import '~styles/variables';

.root {
  width: 355px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  color: $dark-blue;
  box-shadow: -1px 0 0 lightgray;
}

.search {
  flex: 1 0;
  height: 20px;
  margin-left: 27px;
  border: 0;
  &::placeholder {
    font-size: 18px;
    color: $dark-blue;
  }
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 47px;
}