@import '~styles/variables';

.root {
  margin-top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  fill: $white;
  z-index: -1;
}

.bottom-bar {
  width: 100%;
  margin: 0 20px;
  position: fixed;
  bottom: 20px;
  left: 0;
  transition: transform .5s ease;

  &:global(.__hide) {
    transform: translateY(80px);
  }
}