@import '~styles/variables';
@import '~styles/media';

.root {
  background: $dark-blue;
}

.copyright {
  margin: 50px 0 60px 43px;
  display: flex;
  white-space: nowrap;
  color: $white;
  font-size: 12px;
  flex-wrap: wrap;

  & p:not(:last-child) {
    margin-right: 19px;
  }

  @include media-mobile-large {
    margin: 40px 0 40px 19px;
  }
}
