@import '~styles/variables';
@import '~styles/media';

.root {
  width: 100%;
  background: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 206px;
  border-bottom: 1px $gray-bg solid;

  @include media-mobile-large {
    flex-direction: column;
  }
}

.location-section {
  flex: 0.439 1;
  display: flex;
  margin-right: 1vw;

  @include media-tablet-album {
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
  }

  @include media-mobile-large {
    width: calc(100% - 40px);
    margin: 0 20px;
  }
}

.subscribe-section {
  flex: 0.556 1;
  display: flex;
  justify-content: flex-end;

  @include media-tablet-album {
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }

  @include media-mobile-large {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}

.logo {
  width: 203px;
  height: 83px;
  align-self: center;
  margin-left: 36px;
  margin-right: 6.6vw;

  @include media-tablet-album {
    margin-bottom: 20px;
  }

  @include media-mobile-large {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

.change-location {
  flex: 1 1;
  max-width: 298px;
  min-height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 14px;
  padding: 20px;
  border: none;
  align-self: center;
  background: rgba(255, 255, 255, 0.16);

  @include media-tablet-album {
    width: 90%;
    align-items: center;
    max-width: none;
  }

  @include media-mobile-large {
    margin: 0;
    flex-grow: 1;
    max-width: none;
    width: 100%;
  }
}


.social-network {
  display: flex;
  align-self: center;
  margin-right: 6.4vw; 

  @include media-tablet-album {
    height: 103px;
    align-items: center;
    margin-right: 0;
  }

  @include media-mobile-large {
    height: auto;
    margin: 20px 0;
  }
}

.icon {
  &:not(:last-child) {
    margin-right: 10px; 
  }
}

.subscribe-btn {
  color: $blue;
  border: none;
  max-width: 429px;
  flex: 1 1;
  padding: 20px;
  min-height: 60px;
  background: $white;
  border-radius: 30px;
  margin-right: 44px;

  @include media-tablet-album {
    margin-right: 0;
    width: 90%;
  }

  @include media-mobile-large {
    margin: 0;
    flex-grow: 1;
    max-width: none;
    width: 100%;
    margin-bottom: 40px;
  }
}