@import '~styles/variables';

.section {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: 2s;
  background: transparent;
  background-blend-mode: multiply;
  color: $white;

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) -21.57%, rgba(0, 0, 0, 0.6) 114.4%);
    justify-content: flex-start;
  }

  &:hover .title {
    margin-top: 12%;
    margin-bottom: 30px;
  }

  &:hover .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:hover .btn {
    display: flex;
  }

  &:not(last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  &:hover .section-img {
    z-index: -1;
    opacity: 1;
  }
}

.section-img {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: calc(100vh - 120px);
  object-fit: cover;
  z-index: -2;
  opacity: 0;
  transition: opacity 0.5s;
}

.categories {
  display: none;
}

.title {
  font-size: 36px;
  margin-bottom: 29.5%;
}

.category {
  font-size: 28px;
  margin: 14px 0;
}

.btn {
  display: none;
  margin-bottom: 16%;
  margin-top: auto;
}